= render 'shared/header'

.recipe__container
  %main.container{:role => "main"}
    - @recipe.each do |recipe|
      .card.bg-dark.text-white
        = image_tag "#{recipe.image}"
        .card-img-overlay
          %h5.card-title Card title
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          %p.card-text Last updated 3 mins ago


= render 'shared/footer'