= render 'shared/header'

.recipe__container
  %main.container{:role => "main"}
    .card{:style => "width: 9rem;"}
    %img.card-img-top{:alt => "...", :src => "..."}/
    .card-body
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.

= render 'shared/footer'