.header__main
  .header__main-title
    =link_to 'title', '/recipes'
  .header__main-mypage
    =link_to 'mypage', ''
  .header__main-user
    =link_to 'ユーザー', ''
  .header__main-post
    =link_to 'レシピ', ''

