%header
  / Fixed navbar
  %nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    %a.navbar-brand{href: "/recipes"} Myrecipe
    %button.navbar-toggler{"aria-controls": "navbarCollapse", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbarCollapse", "data-toggle": "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          %a.nav-link{href: "/signup"}
            Mypage
            %span.sr-only (current)
        %li.nav-item
          %a.nav-link{href: "/users"} Users
        %li.nav-item
          %a.nav-link{href: "/logout"} Log out
