.header__main{
  height: 100px;
  width: 100%;
  background-color: black;
  top: 0px;
}

.header__main-title{
  font-size:50px;
  height: 100px;
  left: 30px;
  position: absolute;
  padding-top: 5px;
}

.header__main-mypage{
  font-size: 35px;
  right: 30px;
  position: absolute;
  margin-top: 13px;
}

.header__main-user{
  font-size: 30px;
  right: 180px;
  position: absolute;
  margin-top: 20px;
}

.header__main-post{
  font-size: 30px;
  right: 330px;
  position: absolute;
  margin-top: 20px;
}