.header__main{
  height: 100px;
  width: 100%;
  background-color: black;
  top: 0px;
}

.header__main-left{
  width: 670px;
  height: 100px;
  color: blue;
  left: 0px;
  position: absolute;
}

.header__main-right{
  width: 670px;
  height: 100px;
  color: red;
  right: 0px;
  position: absolute;
}