=render 'shared/header'

.main__users-all
  .main__users-all-container
    %h1.users-heading
    .posts-index-top
      %form{"action"=>"all", "accept-charset" => "UTF-8", "method" => "get", class:"form_user"}
        %input{"name" => "utf8", "type" => "hidden", "value" => "✓"}
        %p.users-search
          %input{"type" => "text", "name" =>"search", "id" => "search", "class" => "search-form", "placeholder" => "ユーザー検索"}
          %button.btn.btn-success{name: "button", type: "submit"}  
            %i.fa.fa-search
            検索
    .users-all-items
      .user-left
        =link_to "name","",class:"users-items-box"
        = image_tag '', alt: '', height: '', width: '', class: 'user-left-img'
      .user-right
        name
