.wrapper
  .container
    %h1 Welcome
    %form.form
      %input{:placeholder => "Username", :type => "text"}/
      %input{:placeholder => "Password", :type => "password"}/
      %button#login-button{:type => "submit"} Login
  %ul.bg-bubbles
    %li
    %li
    %li
    %li
    %li
    %li
    %li
    %li
    %li
    %li
